/* BODY */

li {
	list-style: none;
}




/* VISUALS */

#controls {
	position: fixed;
	top: 20%;
	padding: 10px;
	padding-top: 50px;
	padding-bottom: 50px;
	opacity: 0.2;
}


#controls:hover {
	opacity: 1;
}

#controls2 {
	display: none;
}


#contentWrapper {
	/*border: 1px black solid;*/
	position: absolute;
	display: inline-block;
	margin: 0 auto;
	width: 1000px;
	height: 500px;
	margin-top: 8%;
	margin-left: 15%;
}


#infoWrapper {
	height: 400px;
	width: 500px;
	/*border: 1px black solid;*/
	overflow: auto;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	color: #D72638;
	text-align: center;
	float: left;
	padding-top: 20px;
	padding-left: 20px;
}


#SongTitle {
	font-size: 5em;
	text-transform: uppercase;
	text-align: left;
}


#ArtistName {
	font-size: 3em;
	text-transform: uppercase;
	color: grey;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	text-align: left;
	margin: 0px;
}


#AlbumArt {
	height: 450px;
	width: 450px;
	float: right;
	margin-right: 20px;
	box-shadow: 7px 8px 10px grey;
}

#AlbumArt2 {
	display: none;
}


#modal {
	display: none;
	z-index: 6;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;	
	background-color: black;
	opacity: 0.8;
	
}


#form {
	font-family: 'Lato', sans-serif;
	display: none;
	position: fixed;
	z-index: 7;
	background-color: white;
	padding: 40px 50px 50px 50px;
	margin-left: 36%;
	margin-top: 10%;
	border-radius: 10px;
}


#headline {
	font-size: 30px;
	font-weight: 100;
}


progress {
	width: 700px;
}


footer {
	position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #60605D;
  text-align: center;
}




/* CONTROLS */

#play {
	border: 1px solid #474647;
	border-radius: 100px;
	width: 40px;
	height: 40px;
	color: #474647;
	font-size: 25px;
	padding: 7px;
	padding-left: 8px;
	padding-top: 6px;
	margin-bottom: 7px;
}


#play:hover {
	border: 1px solid #36C9C6;
	color: #36C9C6;
}

#pause {
	border: 1px solid #474647;
	border-radius: 100px;
	width: 40px;
	height: 40px;
	color: #474647;
	font-size: 25px;
	padding: 7px;
	padding-left: 8px;
	padding-top: 6px;
	margin-bottom: 7px;
}

#pause:hover {
	border: 1px solid #36C9C6;
	color: #36C9C6;
}

#back {
	border: 1px solid #474647;
	border-radius: 100px;
	width: 40px;
	height: 40px;
	color: #474647;
	font-size: 25px;
	padding-left: 3px;
	padding-top: 7px;
	margin-bottom: 7px;
}

#back:hover {
	border: 1px solid #36C9C6;
	color: #36C9C6;
}

#shuffle {
	border: 1px solid #474647;
	border-radius: 100px;
	width: 40px;
	height: 40px;
	color: #474647;
	font-size: 24px;
	padding-left: 5px;
	padding-top: 7px;
	margin-bottom: 7px;
}

#shuffle:hover {
	border: 1px solid #36C9C6;
	color: #36C9C6;
}

#next {
	border: 1px solid #474647;
	border-radius: 100px;
	width: 40px;
	height: 40px;
	color: #474647;
	font-size: 25px;
	padding-left: 10px;
	padding-top: 7px;
	margin-bottom: 7px;
}

#next:hover {
	border: 1px solid #36C9C6;
	color: #36C9C6;
}

#stop {
	border: 1px solid #474647;
	border-radius: 100px;
	width: 40px;
	height: 40px;
	color: #474647;
	font-size: 25px;
	padding-left: 5.5px;
	padding-top: 6.4px;
	margin-bottom: 7px;
}

#stop:hover {
	border: 1px solid #36C9C6;
	color: #36C9C6;
}

#upload {
	width: 40px;
	height: 40px;
	color: #474647;
	font-size: 40px;
	padding-top: 7.46px;
	margin-top: 20px;
}

#upload:hover {
	color: #FF9E6B;
}


@media all and (min-width: 319px) and (max-width: 416px) { 

	#controls {
		display: none;
	}

	#controls2 {
		position: relative;
		display: block;
		z-index: 10;
		top: 450px;
		margin-left: 22%;
	}

	#contentWrapper {
		/*border: 1px black solid;*/
		position: absolute;
		width: 300px;
		height: 300px;
		margin-top: 8%;
		margin-left: 12%;
		word-wrap: break-word;
	/*overflow: auto;*/
		z-index: 5;
	}

	#AlbumArt {
		display: none;
	}

	#AlbumArt2 {
		display: block;
		height: 300px;
		width: 300px;
		top: 31px;
		margin-left: 12%;
		box-shadow: none;
		opacity: 0.1;
		position: relative;
		float: none;
		z-index: -1;
	}

	#infoWrapper {
		height: 300px;
		width: 300px;
		/*border: 1px black solid;*/
		overflow: auto;
		font-family: 'Lato', sans-serif;
		font-weight: 100;
		color: #D72638;
		text-align: center;
		padding-top: 20px;
		padding-left: 20px;
}

	#SongTitle {
		font-weight: 400;
		word-wrap: break-word;
		font-size: 3em;
		position: absolute;
		/*color: black;*/
	}

	#ArtistName {
		font-weight: 400;
		font-size: 2em;
    word-wrap: break-word;
    position: relative;
    margin-top: 190px;
    /*color: black;*/
	}

	progress {
		width: 370px;
	}