p {
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	color: #ff0066;
	text-align: center;
	padding: 10px;
	margin: 0px;
}


#SongTitle {
	font-size: 6vw;
	text-transform: uppercase;
}

#ArtistName {
	font-size: 2em;
	text-transform: uppercase;
}

